<a href="https://colab.research.google.com/github/Shorif-1776/SM_Assignment/blob/main/Assignment_3_NumPy_and_Pandas_for_Data_Science.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
"""
Student Performance Dataset Analysis
Dataset Information
Student Performance Dataset (StudentsPerformance.csv)

1000 students with academic performance data
8 columns: gender, race/ethnicity, parental level of education, lunch, test preparation course, math score, reading score, writing score
Score Range: 0-100 for each subject
Demographics: Male/Female, 5 ethnic groups, 6 education levels, standard/free lunch, test prep completed/none
"""

'\nStudent Performance Dataset Analysis\nDataset Information\nStudent Performance Dataset (StudentsPerformance.csv)\n\n1000 students with academic performance data\n8 columns: gender, race/ethnicity, parental level of education, lunch, test preparation course, math score, reading score, writing score\nScore Range: 0-100 for each subject\nDemographics: Male/Female, 5 ethnic groups, 6 education levels, standard/free lunch, test prep completed/none\n'

In [5]:
#Task 1.1: Data Loading and Exploration
import numpy as np
import pandas as pd

# Load the dataset
df = pd.read_csv('StudentsPerformance.csv')

# Your tasks:
# 1. Display first 10 rows
# 2. Show dataset shape and info()
# 3. Display unique values in each categorical column
# 4. Show basic statistics for all score columns

# Your code here:
# Display first 10 rows
print(df.head(10))

# Show dataset shape and info()
print(df.shape)
print(df.info())

# Display unique values in each categorical column
print(df['gender'].unique())
print(df['race/ethnicity'].unique())
print(df['parental level of education'].unique())
print(df['lunch'].unique())
print(df['test preparation course'].unique())

# Show basic statistics for all score columns
print(df.describe())

   gender race/ethnicity parental level of education         lunch  \
0  female        group B           bachelor's degree      standard
1  female        group C                some college      standard
2  female        group B             master's degree      standard
3    male        group A          associate's degree  free/reduced
4    male        group C                some college      standard
5  female        group B          associate's degree      standard
6  female        group B                some college      standard
7    male        group B                some college  free/reduced
8    male        group D                 high school  free/reduced
9  female        group B                 high school  free/reduced

  test preparation course  math score  reading score  writing score
0                    none          72             72             74
1               completed          69             90             88
2                    none          90             95             93
3                    none          47             57             44
4                    none          76             78             75
5                    none          71             83             78
6               completed          88             95             92
7                    none          40             43             39
8               completed          64             64             67
9                    none          38             60             50
(1000, 8)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB
None
['female' 'male']
['group B' 'group C' 'group A' 'group D' 'group E']
["bachelor's degree" 'some college' "master's degree" "associate's degree"
 'high school' 'some high school']
['standard' 'free/reduced']
['none' 'completed']
       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

In [21]:
from os import read
#Task 1.2: NumPy Array Operations
# Convert score columns to numpy arrays
math_scores = df['math score'].values
reading_scores = df['reading score'].values
writing_scores = df['writing score'].values

# Your tasks:
# 1. Calculate mean, median, std, min, max for each subject using NumPy
# 2. Find total students who scored above 80 in math
# 3. Find total students who scored below 50 in any subject
# 4. Calculate the overall average score across all three subjects

# Expected output example:
# Math - Mean: 66.1, Median: 66.0, Std: 15.2
# Students with math > 80: 132
# Students with any score < 50: 178

# Your code here:
# Calculate mean, median, std, min, max for each subject using NumPy with one digit after decimal
# Calculate value with one digit afrer decimal
math_mean = np.mean(math_scores)
print(math_mean)
math_median = np.median(math_scores)
print(math_median)
math_std = np.std(math_scores)
print(math_std)
math_min = np.min(math_scores)
print(math_min)
math_max = np.max(math_scores)
print(math_max)

reading_mean = np.mean(reading_scores)
reading_median = np.median(reading_scores)
reading_std = np.std(reading_scores)
reading_min = np.min(reading_scores)
reading_max = np.max(reading_scores)

writing_mean = np.mean(writing_scores)
writing_median = np.median(writing_scores)
writing_std = np.std(writing_scores)
writing_min = np.min(writing_scores)
writing_max = np.max(writing_scores)

# Find total students who scored above 80 in math
above_80_math = np.sum(math_scores > 80)
print (above_80_math)
# Find total students who scored below 50 in any subject
below_50 = np.sum((math_scores < 50) | (reading_scores < 50) | (writing_scores < 50))
print (below_50)

66.089
66.0
15.155496659628149
0
100
176
188

In [7]:
math_scores

array([ 72,  69,  90,  47,  76,  71,  88,  40,  64,  38,  58,  40,  65,
        78,  50,  69,  88,  18,  46,  54,  66,  65,  44,  69,  74,  73,
        69,  67,  70,  62,  69,  63,  56,  40,  97,  81,  74,  50,  75,
        57,  55,  58,  53,  59,  50,  65,  55,  66,  57,  82,  53,  77,
        53,  88,  71,  33,  82,  52,  58,   0,  79,  39,  62,  69,  59,
        67,  45,  60,  61,  39,  58,  63,  41,  61,  49,  44,  30,  80,
        61,  62,  47,  49,  50,  72,  42,  73,  76,  71,  58,  73,  65,
        27,  71,  43,  79,  78,  65,  63,  58,  65,  79,  68,  85,  60,
        98,  58,  87,  66,  52,  70,  77,  62,  54,  51,  99,  84,  75,
        78,  51,  55,  79,  91,  88,  63,  83,  87,  72,  65,  82,  51,
        89,  53,  87,  75,  74,  58,  51,  70,  59,  71,  76,  59,  42,
        57,  88,  22,  88,  73,  68, 100,  62,  77,  59,  54,  62,  70,
        66,  60,  61,  66,  82,  75,  49,  52,  81,  96,  53,  58,  68,
        67,  72,  94,  79,  63,  43,  81,  46,  71,  52,  97,  62,  46,
        50,  65,  45,  65,  80,  62,  48,  77,  66,  76,  62,  77,  69,
        61,  59,  55,  45,  78,  67,  65,  69,  57,  59,  74,  82,  81,
        74,  58,  80,  35,  42,  60,  87,  84,  83,  34,  66,  61,  56,
        87,  55,  86,  52,  45,  72,  57,  68,  88,  76,  46,  67,  92,
        83,  80,  63,  64,  54,  84,  73,  80,  56,  59,  75,  85,  89,
        58,  65,  68,  47,  71,  60,  80,  54,  62,  64,  78,  70,  65,
        64,  79,  44,  99,  76,  59,  63,  69,  88,  71,  69,  58,  47,
        65,  88,  83,  85,  59,  65,  73,  53,  45,  73,  70,  37,  81,
        97,  67,  88,  77,  76,  86,  63,  65,  78,  67,  46,  71,  40,
        90,  81,  56,  67,  80,  74,  69,  99,  51,  53,  49,  73,  66,
        67,  68,  59,  71,  77,  83,  63,  56,  67,  75,  71,  43,  41,
        82,  61,  28,  82,  41,  71,  47,  62,  90,  83,  61,  76,  49,
        24,  35,  58,  61,  69,  67,  79,  72,  62,  77,  75,  87,  52,
        66,  63,  46,  59,  61,  63,  42,  59,  80,  58,  85,  52,  27,
        59,  49,  69,  61,  44,  73,  84,  45,  74,  82,  59,  46,  80,
        85,  71,  66,  80,  87,  79,  38,  38,  67,  64,  57,  62,  73,
        73,  77,  76,  57,  65,  48,  50,  85,  74,  60,  59,  53,  49,
        88,  54,  63,  65,  82,  52,  87,  70,  84,  71,  63,  51,  84,
        71,  74,  68,  57,  82,  57,  47,  59,  41,  62,  86,  69,  65,
        68,  64,  61,  61,  47,  73,  50,  75,  75,  70,  89,  67,  78,
        59,  73,  79,  67,  69,  86,  47,  81,  64, 100,  65,  65,  53,
        37,  79,  53, 100,  72,  53,  54,  71,  77,  75,  84,  26,  72,
        77,  91,  83,  63,  68,  59,  90,  71,  76,  80,  55,  76,  73,
        52,  68,  59,  49,  70,  61,  60,  64,  79,  65,  64,  83,  81,
        54,  68,  54,  59,  66,  76,  74,  94,  63,  95,  40,  82,  68,
        55,  79,  86,  76,  64,  62,  54,  77,  76,  74,  66,  66,  67,
        71,  91,  69,  54,  53,  68,  56,  36,  29,  62,  68,  47,  62,
        79,  73,  66,  51,  51,  85,  97,  75,  79,  81,  82,  64,  78,
        92,  72,  62,  79,  79,  87,  40,  77,  53,  32,  55,  61,  53,
        73,  74,  63,  96,  63,  48,  48,  92,  61,  63,  68,  71,  91,
        53,  50,  74,  40,  61,  81,  48,  53,  81,  77,  63,  73,  69,
        65,  55,  44,  54,  48,  58,  71,  68,  74,  92,  56,  30,  53,
        69,  65,  54,  29,  76,  60,  84,  75,  85,  40,  61,  58,  69,
        58,  94,  65,  82,  60,  37,  88,  95,  65,  35,  62,  58, 100,
        61, 100,  69,  61,  49,  44,  67,  79,  66,  75,  84,  71,  67,
        80,  86,  76,  41,  74,  72,  74,  70,  65,  59,  64,  50,  69,
        51,  68,  85,  65,  73,  62,  77,  69,  43,  90,  74,  73,  55,
        65,  80,  50,  63,  77,  73,  81,  66,  52,  69,  65,  69,  50,
        73,  70,  81,  63,  67,  60,  62,  29,  62,  94,  85,  77,  53,
        93,  49,  73,  66,  77,  49,  79,  75,  59,  57,  66,  79,  57,
        87,  63,  59,  62,  46,  66,  89,  42,  93,  80,  98,  81,  60,
        76,  73,  96,  76,  91,  62,  55,  74,  50,  47,  81,  65,  68,
        73,  53,  68,  55,  87,  55,  53,  67,  92,  53,  81,  61,  80,
        37,  81,  59,  55,  72,  69,  69,  50,  87,  71,  68,  79,  77,
        58,  84,  55,  70,  52,  69,  53,  48,  78,  62,  60,  74,  58,
        76,  68,  58,  52,  75,  52,  62,  66,  49,  66,  35,  72,  94,
        46,  77,  76,  52,  91,  32,  72,  19,  68,  52,  48,  60,  66,
        89,  42,  57,  70,  70,  69,  52,  67,  76,  87,  82,  73,  75,
        64,  41,  90,  59,  51,  45,  54,  87,  72,  94,  45,  61,  60,
        77,  85,  78,  49,  71,  48,  62,  56,  65,  69,  68,  61,  74,
        64,  77,  58,  60,  73,  75,  58,  66,  39,  64,  23,  74,  40,
        90,  91,  64,  59,  80,  71,  61,  87,  82,  62,  97,  75,  65,
        52,  87,  53,  81,  39,  71,  97,  82,  59,  61,  78,  49,  59,
        70,  82,  90,  43,  80,  81,  57,  59,  64,  63,  71,  64,  55,
        51,  62,  93,  54,  69,  44,  86,  85,  50,  88,  59,  32,  36,
        63,  67,  65,  85,  73,  34,  93,  67,  88,  57,  79,  67,  70,
        50,  69,  52,  47,  46,  68, 100,  44,  57,  91,  69,  35,  72,
        54,  74,  74,  64,  65,  46,  48,  67,  62,  61,  70,  98,  70,
        67,  57,  85,  77,  72,  78,  81,  61,  58,  54,  82,  49,  49,
        57,  94,  75,  74,  58,  62,  72,  84,  92,  45,  75,  56,  48,
       100,  65,  72,  62,  66,  63,  68,  75,  89,  78,  53,  49,  54,
        64,  60,  62,  55,  91,   8,  81,  79,  78,  74,  57,  40,  81,
        44,  67,  86,  65,  55,  62,  63,  88,  62,  59,  68,  77])

In [24]:
# Task 2.1: Identify and Handle Missing Data
# Check the dataset for any missing values
# Your tasks:
# 1. Check for null values in each column using .isnull().sum()
# 2. Check for any impossible values (scores > 100 or < 0)
# 3. Display summary of data quality

# Note: This dataset is clean, but let's verify!

# Your code here:
# Check the dataset for any missing values
print(df.isnull().sum())

# Check for any impossible values (scores > 100 or < 0)
impossible = np.sum((math_scores > 100) | (math_scores < 0) |
                    (reading_scores > 100) | (reading_scores < 0) |
                    (writing_scores > 100) | (writing_scores < 0))
print(impossible)

# Display summary of data quality
print(df.info())

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64
0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB
None

In [30]:
#Task 2.2: Create and Fix Missing Value
# Artificially create missing data for practice
# import numpy as np

# Your tasks:
# 1. Make a copy of the dataset: df_practice = df.copy()
# 2. Randomly set 50 math scores to np.nan
# 3. Randomly set 30 writing scores to np.nan
# 4. Fill missing math scores with the MEDIAN math score
# 5. Fill missing writing scores with the MEAN writing score
# 6. Verify no missing values remain

# Steps to follow:
# Step 1: Create copy and show original missing values
df_practice = df.copy()
print("Original missing values:", df_practice.isnull().sum())

# Step 2: Create missing data
np.random.seed(42)  # For reproducible results
missing_math_idx = np.random.choice(df_practice.index, 50, replace=False)
missing_writing_idx = np.random.choice(df_practice.index, 30, replace=False)

# Continue the task...
# Your code here:
# Randomly set 50 math scores to np.nan
df_practice.loc[missing_math_idx, 'math score'] = np.nan

# Randomly set 30 writing scores to np.nan
df_practice.loc[missing_writing_idx, 'writing score'] = np.nan

df_practice.isnull().sum()

Original missing values: gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64

gender                          0
race/ethnicity                  0
parental level of education     0
lunch                           0
test preparation course         0
math score                     50
reading score                   0
writing score                  30
dtype: int64

In [33]:
#Task 3.1:Answer Simple Questions About Student Performance
# Your tasks:
# 1. Display first 5 rows using .head()


# 2. Display last 5 rows using .tail()
# 3. Show dataset shape using .shape
# 4. Show column names using .columns
# 5. Show data types using .dtypes
# 6. Show basic info using .info()

# Your code here:
# Display first 5 rows using .head()
print(df.head())

# Display last 5 rows using .tail()
print(df.tail())

# Show dataset shape using .shape
print(df.shape)

# Show column names using .columns
print(df.columns)

# Show data types using .dtypes
print(df.dtypes)

# Show basic info using .info()
print(df.info())

   gender race/ethnicity parental level of education         lunch  \
0  female        group B           bachelor's degree      standard
1  female        group C                some college      standard
2  female        group B             master's degree      standard
3    male        group A          associate's degree  free/reduced
4    male        group C                some college      standard

  test preparation course  math score  reading score  writing score
0                    none          72             72             74
1               completed          69             90             88
2                    none          90             95             93
3                    none          47             57             44
4                    none          76             78             75
     gender race/ethnicity parental level of education         lunch  \
995  female        group E             master's degree      standard
996    male        group C                 high school  free/reduced
997  female        group C                 high school  free/reduced
998  female        group D                some college      standard
999  female        group D                some college  free/reduced

    test preparation course  math score  reading score  writing score
995               completed          88             99             95
996                    none          62             55             55
997               completed          59             71             65
998               completed          68             78             77
999                    none          77             86             86
(1000, 8)
Index(['gender', 'race/ethnicity', 'parental level of education', 'lunch',
       'test preparation course', 'math score', 'reading score',
       'writing score'],
      dtype='object')
gender                         object
race/ethnicity                 object
parental level of education    object
lunch                          object
test preparation course        object
math score                      int64
reading score                   int64
writing score                   int64
dtype: object
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB
None

In [37]:
#Task 3.2: Basic Groupby Analysis
# Comprehensive groupby analysis
# Your tasks:

# 1. Group by 'gender' and calculate:
#    - Average scores in all subjects
#    - Count of students


# 2. Group by 'test preparation course' and show:
#    - Mean scores for each subject
#    - Show which subject benefits most from test prep

# 3. Group by 'parental level of education' and calculate:
#    - Average math score for each education level
#    - Rank education levels by math performance

# 4. Group by 'lunch' type and show:
#    - Average scores for each subject
#    - Count of students in each lunch category

# Your code here:
# Group by 'gender' and calculate:
# Average scores in all subjects
# Count of students
gender_stats = df.groupby('gender').agg({
    'math score': ['mean', 'count'],
    'reading score': ['mean', 'count'],
    'writing score': ['mean', 'count']
})
print(gender_stats)

# Group by 'test preparation course' and show:
# Mean scores for each subject
# Show which subject benefits most from test prep
test_prep_stats = df.groupby('test preparation course').agg({
    'math score': 'mean',
    'reading score': 'mean',
    'writing score': 'mean'
})
print(test_prep_stats)

# Group by 'parental level of education' and calculate:
#    - Average math score for each education level
#    - Rank education levels by math performance
parental_education_stats = df.groupby('parental level of education')['math score'].mean().sort_values(ascending=False)
print(parental_education_stats)

# 4. Group by 'lunch' type and show:
#    - Average scores for each subject
#    - Count of students in each lunch category

lunch_stats = df.groupby('lunch').agg({
    'math score': ['mean', 'count'],
    'reading score': ['mean', 'count'],
    'writing score': ['mean', 'count']
})
print(lunch_stats)

       math score       reading score       writing score
             mean count          mean count          mean count
gender
female  63.633205   518     72.608108   518     72.467181   518
male    68.728216   482     65.473029   482     63.311203   482
                         math score  reading score  writing score
test preparation course
completed                 69.695531      73.893855      74.418994
none                      64.077882      66.534268      64.504673
parental level of education
master's degree       69.745763
bachelor's degree     69.389831
associate's degree    67.882883
some college          67.128319
some high school      63.497207
high school           62.137755
Name: math score, dtype: float64
             math score       reading score       writing score
                   mean count          mean count          mean count
lunch
free/reduced  58.921127   355     64.653521   355     63.022535   355
standard      70.034109   645     71.654264   645     70.823256   645

In [41]:
#Task 3.3: Use your data analysis skills to answer these easy questions:

# 1. Who performs better in math - males or females?
#    - Calculate average math score by gender
#    - Show the difference between male and female average



# 2. Which subject do students perform best in overall?
#    - Calculate the overall average for math, reading, and writing
#    - Rank the subjects from highest to lowest average score

# 3. What's the impact of parental education?
#    - Find the average total score for each parental education level
#    - Identify which education level leads to highest student performance


# Who performs better in math - males or females?
gender_math_stats = df.groupby('gender')['math score'].mean()
print(gender_math_stats)

# Calculate average math score by gender
average_math_by_gender = df.groupby('gender')['math score'].mean()
print(average_math_by_gender)

# Show the difference between male and female average
difference_by_gender = average_math_by_gender['male'] - average_math_by_gender['female']
print(difference_by_gender)


# Rank the subjects from highest to lowest average score

gender
female    63.633205
male      68.728216
Name: math score, dtype: float64
gender
female    63.633205
male      68.728216
Name: math score, dtype: float64
5.095011134430216

In [43]:
# Which subject do students perform best in overall?
# Calculate the overall average for math, reading, and writing
overall_average = df[['math score', 'reading score', 'writing score']].mean()
print(overall_average)

# Rank the subjects from highest to lowest average score
overall_average_sorted = overall_average.sort_values(ascending=False)
print(overall_average_sorted)

math score       66.089
reading score    69.169
writing score    68.054
dtype: float64
reading score    69.169
writing score    68.054
math score       66.089
dtype: float64

In [44]:
# What's the impact of parental education?
# Find the average total score for each parental education level
df['total score'] = df['math score'] + df['reading score'] + df['writing score']
parental_education_total_score = df.groupby('parental level of education')['total score'].mean().sort_values(ascending=False)
print(parental_education_total_score)

# Identify which education level leads to highest student performance
print(f"\nThe education level that leads to the highest student performance is: {parental_education_total_score.index[0]} with an average total score of {parental_education_total_score.iloc[0]:.2f}")

parental level of education
master's degree       220.796610
bachelor's degree     215.771186
associate's degree    208.707207
some college          205.429204
some high school      195.324022
high school           189.290816
Name: total score, dtype: float64

The education level that leads to the highest student performance is: master's degree with an average total score of 220.80

In [45]:
# Identify which education level leads to highest student performance
print(f"\nThe education level that leads to the highest student performance is: {parental_education_total_score.index[0]} with an average total score of {parental_education_total_score.iloc[0]:.2f}")

The education level that leads to the highest student performance is: master's degree with an average total score of 220.80